body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0%;
    border: 0;

}

@media (min-width: 320px){
    .skip-list li{
	padding: 0.7em;
	display: flex;
}
.skip-list ul{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

a {
	color: #130b0b;
	text-decoration: none;
    font-size: small;
    font-weight: bold;
}

a:hover,
a:focus {
	text-decoration: underline;
   
}

#titulo{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
#titulo img{
    width: 5.5em;
    height: 5em;
    float: inline-start;
    margin: 0%;
}
h1{
font-size: 1.5em;
}
#barra-navegacion ul:first-child{
    margin-top: 1em;
}
#barra-navegacion a:hover,
#barra-navegacion a:focus{

    background-color: #BA4A00 ;
    color: white;
}
#barra-navegacion a{
    list-style: none;
    text-decoration: none;
    padding-left: 1em;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}


/*   Inicio  */


.carrusel h5,.carrusel p{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.carrusel a{
    font-weight: bolder;
}


/* recetas */
.entrada-blog{
    background-color: #FCF3CF;
    border-radius:10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
    padding: 1em;
}
.entrada-blog img {
    max-width: 99%;
    border-radius: 10px;

   
}

.entrada-blog h2 {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em;
}
.entrada-blog a:focus, .entrada-blog a:hover {
    background-color: rgb(255, 169, 88);
}
.entrada{
    padding-top: 1em;
}

.preparacion li{
    list-style: decimal;
}
.btn-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: none;
    background-color: rgba(240, 236, 40, 0.5);
    color: #0e1df1;
    cursor: auto;
    transition: opacity 0.3s;
  }
  
  .btn-scroll-to-top:hover {
    opacity: 0.8;
  }
  /*  restaurante  */
  .aclaracion {
    justify-self: center;
    border: yellow 0.3em solid;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
  }
  .mapa{
    width: 15em;
    height: 10em;
  }

/*Formulario*/
h3 {
    text-align: center;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #FCF3CF;
    border: 1px solid #a8a6a6;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje,
.formulario__btn-enviar,
.formulario-correo {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66868;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario_btn:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* Estilo Validacion Formulario*/
.formulario__grupo-correcto
.formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto
.formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto 
.formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto 
.formulario__input {
    border: 3px solid #bb2929;
}
}


@media (min-width:480px) {
    #titulo img{
        width: 10%;
        float: inline-start;
        margin: 0%;
    }
    h1{
    padding-top: 0.19em;
    font-size: 3rem;
    text-align: start;
    
    }
    #barra-navegacion ul:first-child {
        margin-top: 0;
    }
    #barra-navegacion a{
       
        font-weight: bold;
        border-radius: 0%;
    }
   


   
   /* recetas */
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
	
   /*  formulario  */
	
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__mensaje,
    .formulario__btn-enviar,
    .formulario-correo {
        grid-column: 1;
    }

    .formulario__btn-enviar {
        width: 100%;
    }

    

    /* restaurate */

    .mapa{
        width: 30em;
        height: 20em;
    }


}

@media (min-width:1440px){
   #barra-navegacion a{
    font-size: 2em;
    text-align: center;
   }
    .entrada{
        font-size: 20px;

    }
    .entrada-blog h2{
       padding: 1em;
       text-align: center;
    }
    .dos-columnas{
       min-width: 98%;
       max-width: 100%;
    }
   .mapa{
    width: 32em;
   }
}