* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* body {
    font-family: 'Playfair Display', serif;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #130b0b;
    font-size: 95%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    /* display: flex;
    /* min-height: 70%; */
    /* justify-content: space-between;
    align-items: flex-start; */
    padding: 10px;
    overflow: auto;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav {
    /* list-style: none;
    text-decoration: none;
    padding-left: 1em;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 4em;
    width: 100%;
}

nav a {
    font-weight: 600;
    /* padding-right: 10px; */
    padding: 0 10px;

}

nav a:hover {
    background-color: #BA4A00;
    color: white;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
    }
}